node_modules/
__pycache__/
*.py[cod]
.python-version
.venv/
venv/
.env
local.settings.generated.json
npm-debug.log*
function-app/AzuriteConfig
function-app/__azurite_db_*.json
function-app/__blobstorage__/
function-app/__queuestorage__/
